body {
    background-color: #fffbfa;
}

.top {
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
}

.profilContent {
    width: 60%;
    margin-left: 20%;
}

.formProfil {
    width:50%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}

.elemText {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

body .p-panel .p-panel-titlebar {
    background-color: #BA3131 !important;
}

.panelInfo {
    margin-bottom: 30px;
}